<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
>

<h:head>
    <link href="resources/css/bootstrap.css" rel="stylesheet"/>
</h:head>

<h:body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                Our tariffs
            </div>
        </div>
    </div>

    <div class="container card-columns" id="container">
    </div>
    <h:form class="well form-search" id='send_form'>
        <button class="btn btn-info" onclick="test()" type="button" id='Refresh'>Refresh</button>
    </h:form>

    <script src="resources/js/jquery.js" type="text/javascript"></script>
    <script src="resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="resources/js/tools.js" type="text/javascript"></script>
    <script src="resources/js/table_operations.js" type="text/javascript"></script>
    <script src="resources/js/websocket.js" type="text/javascript"></script>
</h:body>


<!--<h:outputScript library="js" name="jquery.min.js"/>-->
<!--<h:outputScript library="js" name="websocket.js"/>-->
<!--<h:outputScript library="js" name="bootstrap.min.js"/>-->
<!--<h:outputScript library="js" name="hello.js"/>-->

<!--<script type="text/javascript">-->
<!--    //<![CDATA[-->
<!--    $(document).ready(function () {-->
<!--        if (window.WebSocket) {-->
<!--            var client, destination;-->
<!--            $('#connect_form').submit(function () {-->
<!--                var url = $("#connect_url").val();-->
<!--                var login = $("#connect_login").val();-->
<!--                var passcode = $("#connect_passcode").val();-->
<!--                destination = $("#destination").val();-->

<!--                client = Stomp.client(url);-->

<!--                // this allows to display debug logs directly on the web page-->
<!--                client.debug = function (str) {-->
<!--                    $("#debug").append(str + "\n");-->
<!--                };-->

<!--                // the client is notified when it is connected to the server.-->
<!--                client.connect(login, passcode, function (frame) {-->
<!--                    client.debug("connected to Stomp");-->
<!--                    $('#connect').fadeOut({duration: 'fast'});-->
<!--                    $('#connected').fadeIn();-->
<!--                    client.subscribe(destination, function (message) {-->
<!--                        $("#messages").append("<p>" + message.body + "</p>\n");-->
<!--                    });-->
<!--                });-->
<!--                return false;-->
<!--            });-->

<!--            $('#disconnect').click(function () {-->
<!--                client.disconnect(function () {-->
<!--                    $('#connected').fadeOut({duration: 'fast'});-->
<!--                    $('#connect').fadeIn();-->
<!--                    $("#messages").html("")-->
<!--                });-->
<!--                return false;-->
<!--            });-->

<!--            $('#send_form').submit(function () {-->
<!--                var text = $('#send_form_input').val();-->
<!--                if (text) {-->
<!--                    client.send(destination, {}, text);-->
<!--                    $('#send_form_input').val("");-->
<!--                }-->
<!--                return false;-->
<!--            });-->
<!--        } else {-->
<!--            $("#connect").html("\-->
<!--            <h1>Get a new Web Browser!</h1>\-->
<!--            <p>\-->
<!--            Your browser does not support WebSockets. This example will not work properly.<br>\-->
<!--            Please use a Web Browser with WebSockets support (WebKit or Google Chrome).\-->
<!--            </p>\-->
<!--        ");-->
<!--        }-->
<!--    });-->
<!--    //]]></script>-->


<!--<script type="text/javascript">-->
<!--        updateForm() {-->
<!--            let _vorgang = this.getVorgang;-->
<!--            _vorgang.status = 'FREI';-->

<!--            this.$axios.post('vorgang/update', _vorgang)-->
<!--                .then(-->
<!--                    //             response => {-->
<!--                    //         this.updateVorgang(response.data);-->
<!--                    //     this.send();-->
<!--                    // }-->
<!--                )-->
<!--        },-->
<!--        startTimer() {-->
<!--            this.documentUser = localStorage.getItem("user");-->
<!--            this.timerInterval = this.getTimer;-->
<!--            this.timer = setInterval(this.timerUpdate, this.timerInterval);-->
<!--        },-->
<!--        timerUpdate() {-->
<!--            // this.timerCounter&#45;&#45;;-->
<!--            // if (this.timerCounter &lt;= 0) {-->
<!--            //     this.stopTimer();-->
<!--            //     this.stopDocumentWorking();-->
<!--            // }-->
<!--        },-->
<!--        stopTimer() {-->
<!--            if (this.timer != null) {-->
<!--                clearInterval(this.timer);-->
<!--                this.timer = null;-->
<!--            }-->
<!--        },-->
<!--        stopDocumentWorking() {-->
<!--            this.$refs.timerDialog.open(false);-->
<!--            this.editVorgangWithMitarbeiterAndZeit(false);-->
<!--        },-->
<!--        send() {-->
<!--            if (this.stompClient && this.stompClient.connected) {-->
<!--                this.stompClient.send(`/tariff-notifications/`, JSON.stringify('abcd'), {});-->
<!--            }-->
<!--        },-->
<!--        connectToWS() {-->
<!--            this.socket = new SockJS('http://localhost:8080/');-->
<!--            this.stompClient = Stomp.over(this.socket);//Creation of web-socket-->

<!--            let id = this.getVorgang.id;-->

<!--            this.stompClient.connect({}, () = > { // connection to web-socket and subscription to notifications-->
<!--                this.stompClient.subscribe(`/tariff-notifications/`, response = > {-->
<!--                    console.log(response.body);-->
<!--            this.updateAfterNotification(JSON.parse(response.body));-->
<!--        })-->
<!--        })-->
<!--        },-->
<!--        openNotificationDialog() {-->
<!--            let user = localStorage.getItem("user");-->

<!--            if (user !== this.documentUser) { // Current user and user defined in "Ist in Bearbeitung von" are different-->
<!--                this.$refs.timerDialog.open(true);-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    ,-->
<!--    computed: {-->
<!--    ...-->
<!--        mapGetters({-->
<!--            getUser: 'getUser',-->
<!--            getVorgang: 'getVorgang',-->
<!--            getTimer: 'getTimer'-->
<!--        })-->
<!--    }-->
<!--    ,-->
<!--    created()-->
<!--    {-->
<!--        this.connectToWS();-->
<!--    }-->
<!--    }-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--    // &lt;!&ndash;    var port = "";&ndash;&gt;-->
<!--    // &lt;!&ndash;    if (window.location.host.search(".rhcloud.com") > 0) {&ndash;&gt;-->
<!--    var port = ":8080";-->
<!--    // &lt;!&ndash;    }&ndash;&gt;-->
<!--    var mylocation = window.location.hostname;-->
<!--    if (mylocation === "") {-->
<!--        mylocation = "localhost";-->
<!--        mypath = "/" }-->
<!--    else {-->
<!--        // mypath =  window.location.pathname;-->
<!--        mypath =  "/tariffs";-->
<!--        if (mylocation.search(":") > -1) { port = ""; }-->
<!--    }-->
<!--    var url = 'ws://' + mylocation + port + mypath;-->
<!--    console.log("URL is " + url);-->
<!--    var ws = new WebSocket(url);-->
<!--    ws.onerror = function(event) {-->
<!--        log("Error: " + event);-->
<!--    };-->
<!--    ws.onclose = function(event){-->
<!--        log("Closed: " + event.code + ":" + codes[event.code] + " " + event.reason);-->
<!--    };-->
<!--    ws.onmessage = function(message) {-->
<!--        log("RECV: " + message.data);-->
<!--    };-->
<!--    document.getElementById("send").onclick = function(event) {-->
<!--        event.preventDefault();-->
<!--        var msg = document.getElementById("message").value;-->
<!--        if (msg) {-->
<!--            log("SEND: " + msg);-->
<!--            ws.send(msg);-->
<!--        }-->
<!--    };-->
<!--    function log(s) {-->
<!--        var d = new Date();-->
<!--        var timestamp = "[" + d.toTimeString().slice(0, 8) + "] ";-->
<!--        var logElement = document.getElementById("log");-->
<!--        logElement.value += timestamp + s + "\n";-->
<!--        logElement.scrollTop = logElement.scrollHeight;-->
<!--    }-->
<!--    document.getElementById("message").focus();-->
<!--    var codes = {1000:"Normal", 1001:"Going away", 1002:"Protocol error", 1003:"Unsupported", 1005:"No status", 1006:"Abnormal", 1009:"Too large"};-->
<!--</script>-->


</html>