body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.671);
}

.topnav {
    overflow: auto;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    background-color: #797979;
    color: #f1f1f1!important;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    width: 100%;
    top: 0px;
    left: 0px;
}

.nav-bar {
        width: 100%;
        overflow: hidden;
        height: 50px;
        float: left!important;
        width:100%;
        overflow:hidden;
        height:44px
    }

.nav-left {
    float: left!important;
}

.nav-right {
    float: right!important;
}

.nav-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.nav-bar-subitem {
    width: auto;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    text-decoration: none;
    color: lightgrey;
}

.nav-user_info {
    color: khaki;
    text-decoration: none;
    font-size: 18px;
    padding-right: 100px;
}

.nav-bar .nav-button {
    white-space: normal;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.nav-bar-block {
    background-color: #4c495f;
    text-align: left;
    float: left;
    width: 100%;
}

.submenu-column {
    float: left;
    width: 100%;
    vertical-align: middle;
}

.row-padding {
    padding: 6px 12px;
}

.close-menu-button {
    position: absolute;
    right: 0;
    font-weight: bold;
    margin-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: dimgray;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.available-field {
    width: 100%;
    height: 100vmax;
    background-color: rgb(252, 239, 228);
    margin-top: 44px;
}

.content-container {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.auth-box {
    width: 200px;
}

input.input {
    width: 300px;
}