<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title>JSF 2.0 Hello World</title>
</h:head>
<h:body>
    <h2>JSF 2.0 Hello World Example - hello.xhtml</h2>
    <h:form id="main_form1" action="hello" method="GET">
        ${HlBean.setName("---")}
        <h:inputText id="input1" name="input_name" value="#{HlBean.getName()}123"></h:inputText>
        <h:commandButton id="button" action="#{HlBean.getName()}" value="Welcome Me"></h:commandButton>
        <br/>
        <h:commandButton id="button2" action="#{HlBean.goWelcome()}"></h:commandButton>
        <br/>
    </h:form>
    <Button id="button3" onclick="document.getElementById('main_form1:input1').value = '#{HlBean.getRandom()}'">Random</Button>
</h:body>
</html>