<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <nav class="topnav nav-left" id="topnav">
            <div style="overflow:auto;">
              <div class="nav-bar">
                <a class="nav-bar-item nav-button" id="topnavbtn_users" href="javascript:void(0);" onclick='open_nav("users")' title="User management">Users</a>
                <a class="nav-bar-item nav-button" id="topnavbtn_contracts" href="javascript:void(0);" onclick='open_nav("phones")' title="Numbers management">Phone numbers</a>
                <a class="nav-bar-item nav-button" id="topnavbtn_tariffs" href="javascript:void(0);" onclick='open_nav("tariffs")' title="Tariff management">Tariffs</a>
                <a class="nav-bar-item nav-button" id="topnavbtn_debug" href="debug.jsp" title="Debug">= Debug =</a>
                <div class="nav-right">
                    <a class="nav-bar-item nav-user_info" href="../common/userinfo.htm" title="Personal cabinet">username</a>
                    <a class="nav-bar-item nav-button" id="topnavbtn_logout" href="../common/logout.htm" title="Logout">Logout</a>
                </div>
               
            </div>
              <div id="nav_users" class="nav-bar-block" style="display: none;">
                <span onclick='close_nav("users")' class="close-menu-button">×</span>
                <div class="row-padding">
                  <div class="submenu-column nav-left">
                    <h3>User management</h3>
                    <a class="nav-bar-subitem" href="user_edit.htm">Add new user</a>
                    <a class="nav-bar-subitem" href="users_list.htm">List of all users</a>
                    <a class="nav-bar-subitem" href="user_search.htm">Find a user</a>
                  </div>
                  <!--div class="submenu-column">
                    <h3>JavaScript</h3>
                    <a class="nav-bar-subitem" href="/js/default.asp">Learn JavaScript</a>
                    <a class="nav-bar-subitem" href="/jquery/default.asp">Learn jQuery</a>
                    <a class="nav-bar-subitem" href="/react/default.asp">Learn React</a>
                  </div-->
                </div>
              </div>

              <div id="nav_phones" class="nav-bar-block" style="display: none;">
                <span onclick="close_nav('phones')" class="close-menu-button">×</span>
                <div class="row-padding">
                  <div class="submenu-column">
                    <h3>Phone management</h3>
                    <a class="nav-bar-subitem" href="phone search.htm">Find a contract by phone</a>
                 </div>
                </div>
              </div>

              <div id="nav_tariffs" class="nav-bar-block" style="display: none;">
                <span onclick="close_nav('tariffs')" class="close-menu-button">×</span>
                <div class="row-padding">
                  <div class="submenu-column">
                    <h3>Tariff management</h3>
                    <a class="nav-bar-subitem" href="tariff_edit.htm">Add new tariff</a>
                    <a class="nav-bar-subitem" href="tariffs_list.htm">List of all existing tariffs</a>
                    <a class="nav-bar-subitem" href="tariff_search.htm">Find a tariff</a>
                  </div>
                </div>
                <br>
              </div>
            </div>
        </nav>
        <script src="../resources/js/tools.js"></script>
		</html>