<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Internal error</title>
    </h:head>
    <h:body>
        <h1>500</h1>
        <h:form>
            <p>
                Internal error.
            </p>
            <h:inputTextarea value="#{error.stackTrace}" rows="40" cols="80"
                             readonly="true"/>
        </h:form>
    </h:body>
</f:view>
</html>
