<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          media="screen" rel="stylesheet" th:href="@{css/spring-core.css}"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(tariffs)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="tariff : ${tariffs}">
                <td th:text="${tariff.id}"></td>
                <td th:text="${tariff.description}"></td>
                <td th:text="${tariff.price}"></td>
                <td th:text="${tariff.imageUrl}"></td>
                <td><a th:href="${'/tariff/show/' + tariff.id}">View</a></td>
                <td><a th:href="${'/tariff/edit/' + tariff.id}">Edit</a></td>
                <td><a th:href="${'/tariff/delete/' + tariff.id}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/tariff/new">New Product</a>
        </div>
    </div>
</div>

</body>
</html>