<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Product Form</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          media="screen" rel="stylesheet" th:href="@{css/spring-core.css}"/>
</head>
<body>
<div class="container">

    <h2>Product Details</h2>
    <div>
        <form class="form-horizontal" method="post" th:action="@{/tariff}" th:object="${productForm}">

            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group"
                 th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input class="form-control" th:errorclass="has-error" th:field="*{description}" type="text"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <input class="form-control" max="5000" min="0" step="0.01" th:errorclass="has-error" th:field="*{price}"
                           type="number"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('imageUrl')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Image Url:</label>
                <div class="col-sm-10">
                    <input class="form-control" th:errorclass="has-error" th:field="*{imageUrl}" type="text"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>